*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
  border: 1px solid red;
}

html {
  color-scheme: dark light;
}

body {
  min-height: 100vh;
}

p {
  margin: 0 !important;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}