.card {
    max-width: 400px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.card h3,
.card p {
    margin: 0;
}

.cardImg {
    width: 100%;
}

.cardBottom {
    display: flex;
    justify-content: space-between;
}

.cardsGrid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 65px 32px;
    padding-top: 48px;
    padding-bottom: 48px;
}